@font-face {
    font-family: 'Formula1';
    font-weight: 100;
    src:
        url('../fonts/Formula1-Regular.woff') format('woff'),
        url('../fonts/Formula1-Regular.woff2') format('woff2');

}

@font-face {
    font-family: 'Formula1';
    font-weight: 200;
    src:
        url('../fonts/Formula1-Wide.woff2') format('woff2'),
        url('../fonts/Formula1-Wide.woff') format('woff');

}

@font-face {
    font-family: 'Formula1';
    font-weight: 300;
    src:
        url('../fonts/Formula1-Bold.woff2') format('woff2'),
        url('../fonts/Formula1-Bold.woff') format('woff');

}


@font-face {
    font-family: 'Formula1';
    font-weight: 400;
    src:
        url('../fonts/Formula1-Black.woff2') format('woff2'),
        url('../fontS/Formula1-Black.woff') format('woff');

}

body {
    background-color: #FEFEFF;
    font-family: 'Formula1', sans-serif;
    overflow-x: hidden;
    /* //height: 100vw; */
    margin: 0;
}

.global {
    overflow-x: hidden;

}

.page-ecurie {

    width: 100vw;
    height: 100vh;
}

.page-intro {
    width: 100vw;
    height: 100vh;
}

/* .intro {
    width: 100vw;
    height: 80vh;
} */

.page-pilote {
    width: 100vw;
    height: 100vh;
}

.page-circuit {
    width: 100vw;
    height: 100vh;
}

.page-information {
    width: 100vw;
    height: 100vh;
}

header {
    position: fixed;
    z-index: 1000;
    top: 0;
}

h1 {
    padding: 0;
    margin: 0;
    color: #E03430;
    font-size: 4em;
    font-weight: 300;
}

h3 {
    padding: 10px;
    margin: 0;
    color: #E03430;
    font-size: 3.5em;
    font-weight: 300;
    text-shadow: 7px 7px 5px black;
}

h2 {
    color: #E03430;
    font-size: 9em;
    font-weight: 400;
    margin-left: 4%;
    /* margin-top: 10%; */
    /* text-shadow: 7px 7px 5px black; */
}

h4 {
    color: #14151F;
    font-size: 2em;
    font-weight: 300;
    margin-left: 1%;
    margin-top: 3%;
    /* margin: 0; */
    /* text-shadow: 7px 7px 5px black; */
}

h5 {
    color: #14151F;
    font-weight: 100;
    font-size: 1.5em;
    margin-bottom: 0% !important;
    height: 10vh;
}

h6 {
    color: white;
    font-weight: 300;
    font-size: 1.5em;
    margin-left: 10%;
    margin-right: 5%;
    text-shadow: 7px 7px 5px black;
    /* mix-blend-mode: exclusion; */
}

p {
    color: #14151F;
    font-weight: 100;
    font-size: 1.5em;
}

.palmares-ecurie p {
    color: #14151F;
    font-weight: 100;
    font-size: 1em;
}

a {
    text-decoration: none !important;
}


.bar {
    background-color: #E03430;
    height: 4px;
    width: 50px;
    margin-bottom: 13px;
    transition: 0.5s ease-out;
}

.bar-3 {
    width: 30px;
}

.menu-wrap:hover .bar-3 {
    width: 50px;
    transition: 0.2s ease-out;
}

.flex-menu {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: baseline;
    align-content: stretch;
}

.sound {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 2vh;
    margin-right: 7vw;
    cursor: pointer;
    z-index: 15;
}

.sound img {
    width: 50px;
}

#sound-off {
    display: block;
}

#sound-on {
    display: none;
}

.flex-sound-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
}

.menu-wrap {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 3vh;
    /* right: 1vw; */
    cursor: pointer;
    z-index: 10;
    /* align-items: center; */
    /* margin-top: 5%;
    margin-right: 3%; */

}



.menu-open {
    position: fixed;
    background-color: #14151F;
    opacity: 0.9;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* width: 100vw;
    height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transition: 1s;
    transform: translateY(-100vh);
    transition: 0.7s;
}

.menu-active {
    transform: translateY(0vh) !important;
    transition: 1s;
    /* mix-blend-mode: multiply; */
}

.menu-active .bar {
    background-color: #E03430;
}


.top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}

.logo {
    margin-left: 7%;
    margin-top: 5%;
}

.titre-text {
    display: block;
}

.titre-img {
    display: none;
}



.titre-img img {
    width: 15vw;
}


.intro {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
    margin-top: 3%;
}

.intro-img img {
    width: 75vw;
    max-width: 80vw;
    padding: 20px;
    transform: scaleX(-1);
    margin-top: 3%;
}

.intro p {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}


.flex-titre-menu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.titre-menu {
    margin-bottom: 3%;
}

.ecurie-info {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-image: url('../images/image_ecuries.jpg');
    background-position: center;
    margin: 0;
}

.pilote-info {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-image: url('../images/podium_4.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

.circuit-info {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-image: url('../images/singapour.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

.information-info {
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: stretch;
    background-image: url('../images/information.jpg');
    background-position: center;
    background-size: cover;
    margin: 0;
}

.ecurie-info img {
    width: 100vh;
    height: 100vh;
}

.container {
    height: 100vh;
    width: 1000vw;
    display: flex;
    /* border-top: 50px white solid; */
    /*border-bottom: 50px white solid;*/
    /* border-left: 100px white solid; */
}

.thumbnail {
    /* //display: grid;
    //place-items: center; */
    /* width: 800px; */
    color: white;
    /* margin-right: 20px;
    padding: 20px; */
}



#RedBull {
    width: 100vw;
}

#Ferrari {
    width: 100vw;
}

#Mercedes {
    width: 100vw;
}

#Alpine {
    width: 100vw;
}

#Mclaren {
    width: 100vw;
}

#Alpha-Romeo {
    width: 100vw;
}

#Aston-martin {
    width: 100vw;
}

#Alphatauri {
    width: 100vw;
}

#Williams {
    width: 100vw;
}

#Haas {
    width: 100vw;
}

.titre-ecurie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    margin-left: 7%;
    /* margin-top: 2%; */
}

.bar-ecurie {
    height: 35px;
    width: 10px;
    align-items: center;
    margin-top: 3%;
}

.bar-RB {
    background-color: #3771c7;

}

.bar-ferrari {
    background-color: #ed3935;

}

.bar-mercedes {
    background-color: #6dd3be;
}

.bar-alpine {
    background-color: #3795d1;
}

.bar-mclaren {
    background-color: #f1813b;
}

.bar-AR {
    background-color: #c9304a;
}

.bar-AM {
    background-color: #3d8c74;
}

.bar-haas {
    background-color: #b6babd;
}

.bar-AT {
    background-color: #5f8eaa;
}

.bar-williams {
    background-color: #4fbfdc;
}

.logo-team img {
    width: 15%;
    float: right;
    margin-right: 20%;
    margin-top: 3%;
}

.f1-car {
    display: flex;
    justify-content: center;
    /* width: 90vw; */
    /* margin-left: 5%; */
}

.alpine-f1 {
    margin-left: 0%;
}

.pilote {
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    /* height: 20vh; */
}

.pilote-1 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    max-height: 20vh;
    max-width: 50vw;


}

.pilote-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    max-height: 20vh;
    max-width: 50vw;

}

.pilote img {
    max-height: 8vw;
    margin-right: 3%;
    margin-top: 3vh;
}

.palmares-ecurie {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

}

.palmares-colone-1 {
    /* width: 50vw; */
    flex-grow: 2;
    margin-left: 20%;
    width: 30vw;
}

.palmares-colone-2 {
    flex-grow: 1;
    margin-right: 5%;
}


.palmares-colone-3 {
    flex-grow: 1;
    margin-right: 25%;
}

.logo-team-mercedes img {
    width: 20%;
}

.logo-team-ferrari img {
    width: 10%;
}

.logo-team-alpine img {
    width: 7%;
}

.logo-team-AT img {
    width: 10%;
}

.logo-team-williams img {
    width: 10%;
}

.classement h1 {

    padding: 0;
    margin: 0;
    color: #14151F;
    font-size: 4em;
    font-weight: 300;
    margin-top: 5%;
    margin-left: 5%;
}


/* Pilote */

.pilote-image {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    width: 50vw;
}



.bar-pilote {
    height: 50px;
    width: 8px;
    margin-left: 2vw;
    align-items: center;
    /* margin-top: 3%; */

}

.max-bar {
    background-color: #3771c7;
}

.leclerc-bar {
    background-color: #ed3935;
}

.perez-bar {
    background-color: #3771c7;

}

.numero img {
    width: 6vw;
}

.numero {
    margin-left: 5vh;
}

.numero-podium img {
    width: 6vw;
}

.numero-podium {
    margin-top: -4vh;
    margin-left: 10vw;
}

.pilote-img img {
    max-width: 14vw;
    max-height: 16vw;
    /* display: flex;
    justify-content: center; */
    /* margin: auto; */
}

.max-img img {
    max-width: 22vw;
    max-height: 16vw;
}

.drapeau img {
    width: 3vw;
    opacity: 1;
}

/* .drapeau {
    display: block;
    align-items: center;
} */

.podium-pilote {
    /* text-align: center; */
    /* width: 80vw; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
    /* margin-top: 10vh; */
    position: relative;

}




.pilote-nom-palmares {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 50vw;
}

.nom-pilote {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
    align-content: stretch;
    height: 10vh;
    margin-left: 3vw;


}

.nom-pilote-2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: center; */
    align-items: center;
    align-content: stretch;
    height: 10vh;
    width: 40vw;

}

.nom {
    margin-left: 1vw;
    margin-right: 2vw;
}

.nom p {
    font-size: 1em;
}





.pilote-numero {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
}


.pilote-nom-palmares {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;

}




.classement-pilote h1 {
    color: #14151F;
    font-size: 4em;
}



.nom {
    font-weight: 300;
}



.perez-img img {
    width: 15vw;
}


.pilote-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    /* width: 75vw; */
    height: 15vh;
    /* text-align: center; */
    margin-left: 15vw;
}

.bar-pilote-2 {
    height: 50px;
    width: 8px;
    margin-left: 2vw;
    align-items: center;
}

.bar-russell {
    background-color: #6dd3be;
}

.bar-sainz {
    background-color: #ed3935;
}

.bar-lewis {
    background-color: #6dd3be;
}

.bar-lando {
    background-color: #f1813b;
}

.bar-ocon {
    background-color: #3795d1;
}

.bar-alonzo {
    background-color: #3795d1;
}

.bar-bottas {
    background-color: #c9304a;
}

.bar-ricciardo {
    background-color: #f1813b;
}

.bar-vettel {
    background-color: #3d8c74;
}

.bar-mag {
    background-color: #b6babd;
}

.bar-gasly {
    background-color: #5f8eaa;
}

.bar-stroll {
    background-color: #3d8c74;
}

.bar-mick {
    background-color: #b6babd;
}

.bar-yuki {
    background-color: #5f8eaa;
}

.bar-zhou {
    background-color: #c9304a;
}

.bar-albon {
    background-color: #4fbfdc;
}

.bar-latifi {
    background-color: #4fbfdc;
}

.circuit-plus-info {
    height: 100vh;
    width: 900vw;
}

.russell {
    margin-top: 15vh;

}

.frise {

    margin-left: 27vw;
    position: relative;
    width: 900vw;
    height: 100vh;
}

.ligne {
    background-color: #14151F;
    width: 840vw;
    height: 20px;
    position: absolute;
    top: 25vh;
    margin-left: 14vw;
}

.tour-circuit {
    width: 30vw;
    margin-bottom: 5vh;
}

/* 
.rond-
rain {

    left: -1vw;
} */

.rond {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background: #14151F;
    position: absolute;
    top: 23vh;
    margin-left: 12vw;

}


/* .info-
rain {

    left: -10vw;


} */

.info-circuit {
    position: absolute;
    top: 37vh;
    /* left: 10vw; */
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    /* align-content: center; */
}


/* .titre-
rain {
    left: -15vw;



} */

.titre-circuit {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    top: 10vh;
    position: absolute;
    width: 30vw;
    margin-bottom: 2vh;
}

.titre-circuit img {
    width: 3vw;
    max-height: 3vh;
}

.classement-circuit p {
    font-size: 0.8em;
}

.classement-circuit {
    margin-left: 2vw;
}

.titre-circuit p {
    font-weight: 300;
}



.flex-circuit {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    /* justify-content: space-around;
    align-items: center;
    align-content: stretch; */
}



.jeddah {
    margin-left: 40vw
}

.albert {
    margin-left: 80vw;
}

.enzo {
    margin-left: 120vw;
}

.miami {
    margin-left: 160vw;
}

.barcelona {
    margin-left: 200vw;
}

.monaco {
    margin-left: 240vw;
}

.baku {
    margin-left: 280vw;
}

.montreal {
    margin-left: 320vw;
}

.silverstone {
    margin-left: 360vw;
}

.red-bull-ring {
    margin-left: 400vw;
}

.paul-ricard {
    margin-left: 440vw;
}

.hungaroring {
    margin-left: 480vw;
}

.spa {
    margin-left: 520vw;

}

.monza {
    margin-left: 560vw;

}

.marina {
    margin-left: 600vw;

}

.susuka {
    margin-left: 640vw;
}

.circuit-usa {
    margin-left: 680vw;
}

.zandvoort {
    margin-left: 720vw;
}

.rodriguez {
    margin-left: 760vw;
}

.jose-carlos {
    margin-left: 800vw;

}

.yas-marina {
    margin-left: 840vw;

}

.texte-information p {
    padding-top: 10vh;
}



.texte-information {
    height: 100vh;

    margin-left: 7vw;
    margin-right: 7vw;
}

.texte-information h5 {
    font-weight: 300;
    color: #14151F;
    font-size: 1.5em;

}

.line-up img {
    width: 30vw;
}


.planning img {
    width: 30vw;
}


.suivre {
    margin-top: 5vh;
    margin-bottom: 2vh;
}

.flex-img {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.logo-f1 img {
    width: 15vw;
}

.logo-f1 img:hover {
    width: 18vw;
    cursor: pointer;
}

.canal img {
    width: 15vw;
}

.canal img:hover {
    width: 18vw;
    cursor: pointer;
}


.podium {
    width: 100vw;
    /* height: 100vh; */

}

.podium-img img {
    width: 80vw;
}

.podium-img {
    text-align: center;
    margin-top: -14vh;

}

.pilote-flex {
    margin-left: 10vw;
}

.podium-pilote {
    margin-top: 0vw;
}

.max {
    width: 28vw;
    margin-top: -3vh;
}

.leclerc {
    width: 28vw;
    margin-top: 12vh;
}

.perez {
    width: 28vw;
    margin-top: 13vh;
}



/* Footer */
.footer-wrap {
    mix-blend-mode: exclusion;
    position: fixed;
    /* width: 100%; */
    padding: 20px 20px;
    bottom: 0;
    right: 0;
    right: 0;
    font-size: 0.6em;
    font-weight: 100;
    color: white;
}

.footer-wrap a {
    position: relative;
    cursor: pointer;
    color: white;
}

.footer-wrap a::after {
    mix-blend-mode: initial;
    content: "";
    width: 0%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #E03430;
    height: 1px;
    transition: 1s;
}

.footer-wrap a:hover::after {
    mix-blend-mode: initial;
    width: 100%;
    transition: 0.3s;
}


@media (max-width: 1400px) {

    .podium-img img {
        width: 80vw;
    }

    .podium-img {
        text-align: center;
        margin-top: 0vh;

    }


    .max {
        margin-top: 8vh;
    }
}


@media (max-width: 1050px) {
    h2 {
        font-size: 7em;
    }

    p {
        font-size: 1em;
    }

    h4 {
        font-size: 1.5em;
    }

    .logo-team {
        margin-top: 5vh;
    }


    .podium-img img {
        width: 80vw;
    }

    .podium-img {
        text-align: center;
        margin-top: 0vh;

    }


    .max {
        margin-top: 8vh;
    }

    .ligne {
        top: 24vh
    }

}


@media(max-width: 850px) {
    h1 {
        font-size: 3em;
    }

    p {
        font-size: 1em;
    }

    .ecurie-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    h2 {
        font-size: 6em;
    }

    .pilote-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }

    .f1-car img {
        width: 80vw;
    }

    .circuit-info {
        display: flex;
        flex-direction: column;
        justify-content: center;

    }





    .palmares-colone-1 {
        margin-left: 10vw;
        width: 25vw;
    }

    h4 {
        font-size: 1.5em;
    }

    .palmares-ecurie p {
        font-size: 0.8em;
    }



    .podium-img {
        text-align: center;
        margin-top: 0vh;

    }


    .titre-circuit {
        width: 20vw;
        top: 9vh;
        /* margin-top: 10vh; */
    }

    .classement-pilote h1 {
        font-size: 3em;
    }

    .bar-ecurie {
        height: 24px;
        width: 5px;
        margin-top: 2vh;
    }

    .bar-pilote-2 {
        height: 34px;
        width: 5px;
    }

    .bar-pilote {
        height: 34px;
        width: 5px;
    }

    /* .titre- rain {
        left: -5vw;
    } */

    .ligne {
        top: 24vh;
    }

    .rond {
        top: 22vh;
    }

    .info-circuit {

        top: 34vh;
        width: 23vw;

    }

    .flex-img {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin: 0;

    }

    .suivre {
        margin: 0;
    }

    .texte-information h5 {
        height: 5vh;
    }

    .logo-f1 {
        margin-bottom: 2vh;
    }

    #sous-titre-information {
        font-size: 4em;
    }

    .line-up img {
        width: 45vw;
    }

    .planning img {
        width: 45vw;
    }

}



@media(max-width: 450px) {

    .sound {
        margin-right: 16vw;
    }

    .titre-img {
        display: block;
    }

    .titre-text {
        display: none;
    }

    p {
        font-size: 0.5em;
    }



    h2 {
        font-size: 4em;
    }

    h6 {
        font-size: 1em;
    }



    h4 {
        font-size: 1em;
    }

    .bar-ecurie {
        height: 18px;
        width: 5px;
    }

    h5 {
        font-size: 1em;
    }



    .palmares-colone-1 {
        width: 50vw;
    }





    /* 
    .max {
        margin-top: 12vh;
    } */

    .classement-pilote h1 {
        font-size: 2em;
    }

    .nom-pilote-2 {
        width: 60vw;

    }

    /* .drapeau img {
        width: 7vw;

    }

    .numero img {
        width: 10vw;
    } */

    .pilote-flex p {
        font-size: 1em;
    }

    .bar-pilote-2 {
        height: 39px;
        width: 5px;
    }

    .bar-pilote {
        height: 23px;
        width: 3px;
    }

    .drapeau img {
        width: 5vw;
    }

    .pilote-nom-palmares img {
        width: 8vw;
    }



    .classement h1 {
        font-size: 2em;
    }

    .thumbnail {
        margin-top: 10vh;
    }


    /* .titre-circuit img {
        width: 5vw;
        height: 1vh;
    } */

    .ligne {
        height: 11px;
    }

    .rond {
        width: 30px;
        height: 30px;
        top: 29vh;
    }


    .titre-circuit p {
        font-size: 0.6em;
    }

    /* .titre- rain {
        left: -8vw;
    } */

    .classement-circuit {
        width: 27vw;
    }

    .classement-circuit p {
        font-size: 0.5em;
    }

    .ligne {
        top: 30vh;
    }

    .info-circuit {
        top: 36vh;
    }

    h3 {
        font-size: 2.5em;
    }

    .palmares-ecurie {
        display: flex;
        flex-direction: column;

    }

    #sous-titre-information {
        font-size: 2.5em;
    }


}